:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#add-card {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 20px;
}
#add-card:hover {
  border-color: #646cff;
}
#add-card:focus,
#add-card:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.todo-item {
  background-color: #2e2e2e;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px; 
  margin-bottom: 15px;
  text-align: left;
  border: 1px solid #3e3e3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-item-content {
  padding-top: 1cap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
}

.todo-item-checkbox {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.todo-item-checkbox input[type="checkbox"] {
  appearance: none;
  background-color: #1a1a1a;
  border: 2px solid #646cff;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

.todo-item-checkbox input[type="checkbox"]:checked {
  background-color: #646cff;
  border-color: #646cff;
}

.todo-item-title {
  font-size: 20px;
  color: #cccccc;
  margin-right: 10px;
  flex-grow: 1;
  white-space: nowrap;
}

.todo-item-status {
  font-size: 0.9em;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.todo-item-status.pending {
  color: #f0ad4e;
}

.todo-item-status.done {
  color: #5cb85c;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
  backdrop-filter: blur(5px); 
}

.add-todo-item-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 8px; 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  width: 400px;
  max-width: 90%; 
}

.add-todo-item-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-todo-item-form input[type="text"] {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.add-todo-item-form textarea {
  width: 100%;
  height: 100px; 
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  resize: none; 
  overflow-y: auto; 
}

.add-todo-item-form button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 10px;
}

.add-todo-item-form button:hover {
  border-color: green;
}

.add-todo-item-form button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.todo-item-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 0.9em; 
}

.todo-item-actions button {
  border: none;
  background: none;
  color: #cccccc; 
  padding: 0; 
  font-size: 0.9em; 
  cursor: pointer;
  transition: color 0.25s; 
  outline: none; 
}

.todo-item-edit:hover,
.todo-item-delete:hover {
  color: #ffffff; 
}

.todo-item-delete {
  border: none;
  background: none;
}

.todo-item-delete:focus {
  outline: none; 
}

